spring:
  application:
    name: order-service
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:30432/orders
    username: hari
    password: dudkrish1A
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
        order_inserts: true

server:
  port: 8087

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

services:
  product: product-service
  inventory: inventory-service
  payment: payment-service
